@tailwind base;
@tailwind components;
@tailwind utilities;
#OpenSource{
    transition: all 0.5s;
}
#hover:hover #OpenSource{
    display: block;
    animation: moveLeft 1s ease-in-out forwards;
}
#hover2:hover #Learn{
    display: block;
    background: linear-gradient(to top, #F5EEFB, #F4FCFF);
    animation: moveLeft 1s ease-in-out forwards;
}
@keyframes moveLeft{
    0%{
        transform: translateX(20%);
    }
    100%{
        transform: translateX(0%);
    }
}
#cloud-h1{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}